
body {
    background-color: cornflowerblue;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    color: darkred;
    font-size: 24pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.playField {
    background-color: rgb(250, 243, 216);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 525px;
    height: 525px
}

.gSquares {
    height: 170px;
    width: 170px;
    border: solid black medium;
    background-color: #FFFFFF;
}

footer {
    display: flex;
    justify-content: center;
    margin: 25px auto;
}